---
title: "Home page"
layout: default
permalink: /
---


<section class="site-blocks-cover overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="align-self-end text-center col-md-6 offset-md-3">
        <div class="intro-text">
          <h1>Archeo<span class="text-primary">.</span>FOSS</h1>
          <p class="mb-4">
            Software, hardware, processi, dati e formati 
            <span class="d-block">aperti nella ricerca archeologica</span></p>
            <img src="images/archeofoss-2.svg" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
      
    </div>
  </div>
</section> 


<section class="site-section" id="about-section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
        
        <h2 class="text-black mb-3">Chi siamo</h2>
        <p class="lead">Software, hardware, processi, dati e formati
          aperti nella ricerca archeologica</p>
        <p class="text-muted mb-4">ArcheoFOSS è il nome di una serie di workshop, organizzati, 
          a partire dal 2006, da una community che raccoglie decine di studiosi, ricercatori, 
          professionisti, studenti e semplici appassionati dell’uso del software libero per gli 
          studi sul passato e per la promozione degli Open Data.</p>
          <p>ArcheoFOSS è quindi un convegno 
          itinerante, che negli anni si è spostato in varie aree dello stivale, contribuendo a 
          diffondere la cultura della condivisione e del riuso di dati e software, e costituendo 
          un osservatorio sullo sviluppo tecnologico nel settore.</p>
        <ul class="list-unstyled primary mb-0">
          <li>Free, Libre and Open Source Software</li>
          <li>Open Hardware</li>
          <li>Open processes</li>
          <li>Open Data</li>
          <li>Open Formats</li>
        </ul>
        
      </div>
      <div class="col-lg-6 text-left heading-section mb-5"  data-aos="fade-up" data-aos-delay="100">
        <img src="images/archeoflos-floris.svg" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>



<section class="site-section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-lg-6 text-center heading-section mb-5">
        
        <h2 class="text-black mb-2">Ultime novità</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>

    {% assign sorted = site.news | sort: "data" | reverse %}
    {% for art in sorted limit:5 %}
    <div class="row hover-1-wrap mb-5 mb-lg-0">
      <div class="col-12">
        <div class="row">
          <div class="mb-4 mb-lg-0 col-lg-6 {% cycle 'order-lg-2', '' %}" data-aos="fade-right">
            <a href="#" class="hover-1">
              <img src="{{ art.img }}" alt="{{ art.title }}" class="img-fluid">
            </a>
          </div>
          <div class="col-lg-5 align-self-center {% cycle 'ml-auto', 'mr-auto order-lg-1 text-lg-right' %}" data-aos="fade-left">
            <h2 class="text-black">{{ art.title }}</h2>
            <p class="mb-4">{{ art.preview }}</p>
            <p><a href="{{ art.permalink }}" class="btn btn-primary">Leggi tutto</a></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>

<section class="site-section" id="gallery-section">
  <div class="container-fluid">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-lg-6 text-center heading-section mb-5">
        <h2 class="text-black mb-2">Photo Gallery</h2>
      </div>
    </div>
    <div class="row no-gutters">

      {% for i in (20..31) %}

        <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="https://picsum.photos/id/{{ i }}/800/600" data-fancybox="gal"><img src="https://picsum.photos/id/{{ i }}/800/600" alt="Image" class="img-fluid"></a>

      {% endfor %}

    </div>
  </div>
</section>