---
layout: default
---
<section class="site-blocks-cover overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="align-self-end text-center col-md-6 offset-md-3">
        <div class="intro-text">
          <h1>Archeo<span class="text-primary">.</span>FOSS</h1>
            <h2>XIV <span class="text-primary">|</span> 2020</h2>
          <p class="mb-4">
            Open software, hardware, processes, data and formats 
            <span class="d-block">in archaeological research</span></p>
            <img src="{{ "images/archeofoss-2.svg" | relative_url }}" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
      
    </div>
  </div>
</section> 


<section class="site-section" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-justify">
        <h1 class="text-black mb-3 text-center">{{ page.title }}</h1>
        <div class="my-5 content">
          {{ content}}

          <div id="map" style="color: #fff">
            {% for art in site.pages %} {% if art.geo %}
              {
                "title": "{{ art.title }}",
                "url": "{{ art.url | replace: ".html", "" }}",
                "geo": [{{ art.geo[0] }}, {{ art.geo[1] }}]
                {% if art.img %},"img": "{{ art.img }}"{% endif %}
              }
            {% endif %}{% endfor %}
          </div>
          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
   <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
        </div>
      </div>
    </div>
  </div>
</section>



    {% assign sorted = site.news | sort: "data" | reverse %}
    {% for art in sorted limit:5 %}
    
    {% endfor %}


